{
  "openapi": "3.0.3",
  "info": {
    "title": "ProxiaPay",
    "version": "1.0.0",
    "description": "Project interface, sandbox environment. Amounts are integers in minor units; timestamps are RFC 3339 in UTC. Every response carries X-Request-Id and the X-RateLimit-* headers."
  },
  "servers": [
    {
      "url": "https://sandbox.pay.proxia-digital.com/v1"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/auth/tokens": {
      "post": {
        "summary": "Exchange credentials for a token",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_key",
                  "client_secret"
                ],
                "properties": {
                  "client_key": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string",
                      "enum": [
                        "Bearer"
                      ]
                    },
                    "expires_in": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "CREDENTIALS_INVALID, CREDENTIALS_REVOKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/previews": {
      "post": {
        "summary": "Create a preview",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "direction": {
                    "type": "string",
                    "enum": [
                      "collection",
                      "disbursement"
                    ]
                  },
                  "amount": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "maximum": 9007199254740991
                  },
                  "currency": {
                    "type": "string",
                    "pattern": "^[A-Z]{3}$"
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Z]{2}$"
                  },
                  "payment_method": {
                    "type": "string",
                    "pattern": "^[A-Z0-9_]{2,16}$"
                  },
                  "counterparty": {
                    "type": "object",
                    "properties": {
                      "msisdn": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 32
                      },
                      "name": {
                        "type": "string",
                        "maxLength": 128
                      },
                      "email": {
                        "type": "string",
                        "maxLength": 254,
                        "format": "email",
                        "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                      }
                    },
                    "required": [
                      "msisdn"
                    ],
                    "additionalProperties": false
                  },
                  "reference": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string",
                          "maxLength": 512
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            null
                          ]
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "direction",
                  "amount",
                  "currency",
                  "country",
                  "payment_method",
                  "counterparty",
                  "reference"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Preview"
                }
              }
            }
          },
          "400": {
            "description": "FIELD_INVALID, AMOUNT_INVALID, CURRENCY_UNKNOWN, COUNTRY_UNKNOWN, PAYMENT_METHOD_UNKNOWN, PAYER_IDENTIFIER_INVALID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_INVALID, TOKEN_EXPIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED, SCOPE_INSUFFICIENT, COUNTRY_DISABLED, ROUTE_DISABLED, ENTITLEMENT_MISSING, ENTITLEMENT_DISABLED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "ROUTE_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "REFERENCE_CONFLICT, SIMILAR_PAYMENT_PENDING",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "AMOUNT_BELOW_MINIMUM, AMOUNT_ABOVE_MAXIMUM",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "post": {
        "summary": "Confirm a collection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "preview_reference"
                ],
                "properties": {
                  "preview_reference": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction already created by an earlier confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "201": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_INVALID, TOKEN_EXPIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED, SCOPE_INSUFFICIENT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "PREVIEW_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "PREVIEW_EXPIRED, PREVIEW_DIRECTION_MISMATCH, SIMILAR_PAYMENT_PENDING",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "VELOCITY_COUNT_EXCEEDED, VELOCITY_VALUE_EXCEEDED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "NO_PROVIDER_AVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/disbursements": {
      "post": {
        "summary": "Confirm a disbursement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "preview_reference"
                ],
                "properties": {
                  "preview_reference": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Already created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "201": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_INVALID, TOKEN_EXPIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED, SCOPE_INSUFFICIENT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "PREVIEW_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "PREVIEW_EXPIRED, PREVIEW_DIRECTION_MISMATCH, SIMILAR_PAYMENT_PENDING",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "VELOCITY_COUNT_EXCEEDED, VELOCITY_VALUE_EXCEEDED, BALANCE_INSUFFICIENT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "FLOAT_INSUFFICIENT, NO_PROVIDER_AVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{reference}/code": {
      "post": {
        "summary": "Submit a one-time code",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_INVALID, TOKEN_EXPIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "TRANSACTION_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "ACTION_NOT_AVAILABLE, CODE_ATTEMPTS_EXHAUSTED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "CODE_INVALID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{reference}": {
      "get": {
        "summary": "Retrieve a transaction",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_INVALID, TOKEN_EXPIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "TRANSACTION_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "summary": "List transactions",
        "parameters": [
          {
            "name": "project_reference",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "provider_reference",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "operator_reference",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created",
                  "action_required",
                  "submitted",
                  "processing",
                  "succeeded",
                  "failed",
                  "expired",
                  "undetermined"
                ]
              }
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "collection",
                "disbursement"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$"
            }
          },
          {
            "name": "payment_method",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 16
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "default": 25,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_INVALID, TOKEN_EXPIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/settings": {
      "get": {
        "summary": "Retrieve settings",
        "description": "Carries ETag; If-None-Match returns 304 where unchanged.",
        "responses": {
          "200": {
            "description": "Settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fingerprint": {
                      "type": "string"
                    },
                    "currencies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "exponent": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "routes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Unchanged"
          },
          "401": {
            "description": "TOKEN_INVALID, TOKEN_EXPIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/balances": {
      "get": {
        "summary": "Retrieve balances",
        "responses": {
          "200": {
            "description": "Balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "available": {
                            "type": "integer"
                          },
                          "reserved": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "TOKEN_INVALID, TOKEN_EXPIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "ORIGIN_NOT_ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "retryable"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "CREDENTIALS_INVALID",
                  "CREDENTIALS_REVOKED",
                  "TOKEN_INVALID",
                  "TOKEN_EXPIRED",
                  "SCOPE_INSUFFICIENT",
                  "ORIGIN_NOT_ALLOWED",
                  "RATE_LIMITED",
                  "FIELD_INVALID",
                  "AMOUNT_INVALID",
                  "CURRENCY_UNKNOWN",
                  "COUNTRY_UNKNOWN",
                  "PAYMENT_METHOD_UNKNOWN",
                  "PAYER_IDENTIFIER_INVALID",
                  "PAYER_IDENTIFIER_MISMATCH",
                  "COUNTRY_DISABLED",
                  "ROUTE_UNAVAILABLE",
                  "ROUTE_DISABLED",
                  "ENTITLEMENT_MISSING",
                  "ENTITLEMENT_DISABLED",
                  "AMOUNT_BELOW_MINIMUM",
                  "AMOUNT_ABOVE_MAXIMUM",
                  "VELOCITY_COUNT_EXCEEDED",
                  "VELOCITY_VALUE_EXCEEDED",
                  "PREVIEW_NOT_FOUND",
                  "PREVIEW_EXPIRED",
                  "PREVIEW_ALREADY_CONFIRMED",
                  "PREVIEW_DIRECTION_MISMATCH",
                  "REFERENCE_CONFLICT",
                  "SIMILAR_PAYMENT_PENDING",
                  "BALANCE_INSUFFICIENT",
                  "FLOAT_INSUFFICIENT",
                  "CODE_INVALID",
                  "CODE_ATTEMPTS_EXHAUSTED",
                  "TRANSACTION_NOT_FOUND",
                  "ACTION_NOT_AVAILABLE",
                  "NO_PROVIDER_AVAILABLE",
                  "INTERNAL_ERROR",
                  "UNAUTHENTICATED",
                  "SECOND_FACTOR_REQUIRED",
                  "ACCOUNT_LOCKED",
                  "PERMISSION_DENIED",
                  "NOT_FOUND",
                  "CONFLICT",
                  "CONFIRMATION_REQUIRED",
                  "CONFIRMATION_INVALID",
                  "APPROVAL_REQUIRED",
                  "RULE_VIOLATION"
                ]
              },
              "message": {
                "type": "string"
              },
              "field": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "details": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string",
            "example": "txn_01J8XQ3R7T"
          },
          "project_reference": {
            "type": "string"
          },
          "provider_reference": {
            "type": "string",
            "nullable": true
          },
          "operator_reference": {
            "type": "string",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "enum": [
              "collection",
              "disbursement"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "created",
              "action_required",
              "submitted",
              "processing",
              "succeeded",
              "failed",
              "expired",
              "undetermined"
            ]
          },
          "reconciliation_status": {
            "type": "string",
            "enum": [
              "unreviewed",
              "matched",
              "disputed",
              "examined",
              "corrected"
            ]
          },
          "currency": {
            "type": "string"
          },
          "requested_amount": {
            "type": "integer"
          },
          "charged_amount": {
            "type": "integer"
          },
          "settled_amount": {
            "type": "integer",
            "nullable": true
          },
          "fees": {
            "type": "object",
            "required": [
              "processing",
              "platform",
              "total"
            ],
            "properties": {
              "processing": {
                "type": "object",
                "required": [
                  "amount",
                  "bearer"
                ],
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "bearer": {
                    "type": "string",
                    "enum": [
                      "counterparty",
                      "project"
                    ]
                  }
                }
              },
              "platform": {
                "type": "object",
                "required": [
                  "amount",
                  "bearer"
                ],
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "bearer": {
                    "type": "string",
                    "enum": [
                      "counterparty",
                      "project"
                    ]
                  }
                }
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "route": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "payment_method": {
                "type": "string"
              },
              "direction": {
                "type": "string",
                "enum": [
                  "collection",
                  "disbursement"
                ]
              }
            }
          },
          "counterparty": {
            "type": "object",
            "properties": {
              "msisdn": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "action": {
            "type": "object",
            "nullable": true,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "code",
                  "browser"
                ]
              },
              "url": {
                "type": "string"
              },
              "attempts_remaining": {
                "type": "integer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "failure_reason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "PAYER_DECLINED",
              "PAYER_UNRESPONSIVE",
              "WALLET_NOT_FOUND",
              "WALLET_INACTIVE",
              "WALLET_LIMIT_EXCEEDED",
              "WALLET_BALANCE_INSUFFICIENT",
              "CODE_ATTEMPTS_EXHAUSTED",
              "ACTION_WINDOW_EXPIRED",
              "PROVIDER_REJECTED",
              "PROVIDER_UNAVAILABLE",
              "NO_PROVIDER_AVAILABLE",
              "OUTCOME_UNDETERMINED",
              null
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "terminal_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Preview": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string",
            "example": "prv_01J8XQ2M4K"
          },
          "direction": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "requested_amount": {
            "type": "integer"
          },
          "charged_amount": {
            "type": "integer"
          },
          "settled_amount": {
            "type": "integer"
          },
          "fees": {
            "type": "object",
            "required": [
              "processing",
              "platform",
              "total"
            ],
            "properties": {
              "processing": {
                "type": "object",
                "required": [
                  "amount",
                  "bearer"
                ],
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "bearer": {
                    "type": "string",
                    "enum": [
                      "counterparty",
                      "project"
                    ]
                  }
                }
              },
              "platform": {
                "type": "object",
                "required": [
                  "amount",
                  "bearer"
                ],
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "bearer": {
                    "type": "string",
                    "enum": [
                      "counterparty",
                      "project"
                    ]
                  }
                }
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "route": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "payment_method": {
                "type": "string"
              },
              "direction": {
                "type": "string",
                "enum": [
                  "collection",
                  "disbursement"
                ]
              }
            }
          },
          "counterparty": {
            "type": "object",
            "properties": {
              "msisdn": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "payer_action": {
            "type": "string",
            "enum": [
              "none",
              "code",
              "browser"
            ]
          },
          "project_reference": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "x-notifications": {
    "description": "HTTP POST to the registered address with headers X-ProxiaPay-Event-Id, X-ProxiaPay-Timestamp and X-ProxiaPay-Signature (hex HMAC-SHA256 over \"timestamp.body\" keyed on the signing secret).",
    "events": [
      "transaction.action_required",
      "transaction.succeeded",
      "transaction.failed",
      "transaction.expired",
      "transaction.undetermined",
      "transaction.corrected"
    ]
  }
}